<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/login.css">
    <title>Login - My Password Manager</title>
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form id="loginForm">
            <input type="text" placeholder="ID" id="username" required>

            <input type="password" placeholder="Password" id="password" required>

            <button type="submit">Login</button>
        </form>
        <div class="link">
            <a href="/register">Create an account</a>
        </div>
    </div>
    <div id="errorMessage"></div>

    <script src="/js/login.js"></script>
</body>
</html>
